.navbar-container {
  background-color: #000;
  width: 100%;
  max-width: 100% !important;
  color: white;
}
.navbar-logo-col {
  padding: 15px;
}
h5 {
  margin: 0px 0px 0px 0px !important;
}
.navbar-list-col {
  padding: 15px;
  text-align: right;
}
.navbar-container Col {
  vertical-align: middle;
}
ul {
  list-style-type: none;
  padding: 0px 0px !important;
  margin: 0px 0px !important;
}
li {
  display: inline-block;
  margin: 0px 20px;
}
.navbar-li-item:hover {
  border-bottom: 1px solid #0d6efd;
}

/*fdsfsdf*/
@media screen and (max-width: 768px) {
  .navbar-li-item {
    display: block;
    text-align: center;
    border-bottom: 0px !important;
  }
  .navbar-container {
    text-align: center;
  }
  h1 {
    font-size: 40px !important;
  }
}
